body {
  background: url("http://res.freestockphotos.biz/pictures/8/8453-a-blue-sky-with-white-clouds-pv.jpg");
  background-size: cover;
}

#card-color {
  background-color: yellow;
}

#card-info {
  background-color: lightgray;
}

.my-form{ 
    margin-top: 10px
}

#skin-description-box {
  width: 50%;
}

.skin-type-home{
    margin-top: 10px;
}

#skin-table th,
td {
  display: inline-block;
  width: 25%;
}

#skindex-image {
  width: 80%;
  margin: 0 20px 20px 20px;
}

/* #vitamin-d-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
} */

#alert-display-box {
  display: flex;
  justify-content: center;
}

#vitamin-d-source {
  clear: right;
  float: right;
  font-size: 10px;
}

#vitamin-importance {
  float: left;
}

#vitamin-d-image {
  position: relative;
  float: right;
}


#alert-uv-box {
  opacity: 0.75;
  margin: 0 0 0 20px;
  width: 75%;
}

#vitamin-box {
  margin: 0 20px 0 0;
  /* width: 75%; */
}

